:root {
    --primary-color: #4abfa6;
    --secondary-color: #ec3344;
    --tertiary-color: #e6eef2;

    --primary-text: #000;
    --secondary-text: #444;
    --tertiary-text: #fff;

    --gray: #747272;
    --gray-light: #ccc;
    --gray-lighter: #f2f2f0;

    --white: #fff;
    --black: #000;
}