:host {
    @media (min-width: 1281px) {
        .tab {
            display: block;

            .tab-item {
                display: inline-block;
            }
        }
    }
    
    @media (min-width: 1025px) and (max-width: 1280px) {
        .tab {
            display: block;

            .tab-item {
                display: inline-block;
            }
        }
    }
}