:host {
    .tab {
        align-items: center;
        display: flex;
        justify-content: center;
        list-style: none;
        margin: 0 0 20px;
        padding: 0;
        text-align: center;

        .tab-item {
            background-color: var(--white);
            color: var(--secondary-text);
            cursor: pointer;
            border-left: solid 1px #999;
            flex: 1;
            font-weight: 600;
            padding: 20px;

            &.selected {
                background-color: var(--primary-color);
                color: var(--tertiary-text);
            }

            &:first-child {
                border-left: 0;
                border-top-left-radius: 7px;
                border-bottom-left-radius: 7px;
            }

            &:last-child {
                border-top-right-radius: 7px;
                border-bottom-right-radius: 7px;
            }
        }
    }
}